<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
    <title>Hétic Connect</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <div id="top404">
            <h1>Oups, la page que vous cherchez est introuvable !</h1>
            <h2>Erreur 404</h2>
            <p><a href="../">Retourner à l'accueil</a></p>
        </div>
    </main>
    <footer>
        <p>
            © Hétic 2018. All rights reserved
        </p>
    </footer>
</body>
</html>