<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="../img/favicon.png" />
    <title>Hétic Connect</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <main>
        <div id="top404">
            <h1>Oups, la page que vous cherchez est introuvable !</h1>
            <h2>Erreur 404</h2>
            <p><a href="../">Retourner à l'accueil</a></p>
        </div>
    </main>
    <footer>
        <p id="footer404">
            © Hétic 2018. All rights reserved
        </p>
    </footer>
</body>
</html>