<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
    <title>Hétic Connect</title>
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display:700" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <ul>
            <li><a href="home.html"><img alt="logo" src="../mg/logo.png"></a></li>
            <li><a href="faq.html"><img alt="F.A.Q" src="../img/icone-faq.png">F.A.Q</a></li>
            <li><a href="#"><img alt="mon compte" src="../img/icone-compte.png">Mon compte</a></li>
        </ul>
    </header>
    <main>
        <div id="top">
            <h1>F.A.Q</h1>
            <article class="topfaq">
                <p>Vous avez besoin d’aide sur un projet mais ne savez pas exactement ce qu’il vous faut ? La FAQ répondra à vos questions !</p>
            </article>
            <article class="topfaq">
                <p>Les profils sur HETIC CONNECT sont classés sous 3 pôles : Développement, Design et Marketing.</p>
            </article>
        </div>
        <section class="contenu">
            <div class="competence">
                <img alt="developpement" src="../img/code.png">
                <h2>Développement</h2>
                <ul>
                    <li><span>Node JS :</span> sert à développer des sites web dynamiques ainsi que des applications rapides comme par exemple un serveur de Chat, un système d'upload très rapid et de façon générale n'importe quelle application qui doit répondre à de nombreuses requêtes rapidement et efficacement, en temps réel</li>
                    <li><span>Js :</span> programmation côté navigateur Web (on parle de développement front-end), côté serveur (back-end) ou côté mobile, sachez par exemple que Google, Facebook et Youtube par exemple sont codés en JavaScript pour le front-end</li>
                    <li><span>Mean :</span> composé de MongoDB, Express, Angular et Node, c'est à dire d'une base de donnée, d'un serveur web, d'un framework web et d'un framework front-end, vous pouvez donc gérer tout un site grâce au Stack Mean</li>
                    <li><span>PHP :</span> sert à collecter des données de formulaire, générer du contenu dynamique, ou gérer des cookies</li>
                    <li><span>Symfony :</span> c'est un framework PHP qui peut vous servir à faire des blogs, des forums, des systèmes de paiement en ligne, etc</li>
                    <li><span>HTML/CSS :</span> vous sera utile pour mettre en ligne un site donc le contenu ne changera ni en fonction de l’utilisateur ni du temps, pratique pour une page statique ; la maîtrise du CSS permet tout simplement de mettre en forme le contenu, en suivant des recommandations graphiques</li>
                    <li><span>SEO :</span> la position de votre site dans les moteurs de recherche, sera géré par le SEO en ce qui concerne les résultats naturels grâce à un code optimisé</li>
                </ul>
            </div>
            <div class="competence">
                <img alt="design" src="../img/design.png">
                <h2>Design</h2>
                <ul>
                    <li><span>UX :</span> sert à définir la position des éléments pour qu’ils soient faciles à trouver, qu’ils donnent envie, et soient efficaces en fonction de ce que vous voulez transmettre à l’utilisateur ; l’UX est autant important sur un site internet que sur des flyers par exemple</li>
                    <li><span>UI :</span> sert à définir des règles design pour votre projet, en créant une identité visuelle adaptée (choix des couleurs, typographies, formes, etc)</li>
                    <li><span>Webdesign :</span> implique la maîtrise de photoshop et illustrator et donc la capacité à fournir des logos, illustrations, ou icônes en fonction de vos besoins</li>
                </ul>
            </div>
            <div class="competence">
                <img alt="marketing" src="../img/comm.png">
                <h2>Marketing</h2>
                <ul>
                    <li><span>Community Management :</span> maîtrise des réseaux sociaux, vous servira si vous avez besoin d’une communication en ligne, ou de créer une communauté</li>
                    <li><span>Gestion de projet :</span> définir des deadlines réalistes, et vous conseillera des profils à contacter si vous doutez des membres qu’il vous manque pour faire une équipe complète</li>
                    <li><span>Rédaction :</span> vous fournira du contenu rédigé en fonction d’une idée ou d’un concept, pour par exemple un article de blog, ou autre long texte</li>
                    <li><span>SEA :</span> position de votre site dans les moteurs de recherche gérée par le SEA en ce qui concerne les résultats sponsorisé grâce à une campagne payante sur Google AdWords</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>
            <a href="#top">En haut</a>
        </p>
        <p>
            © Hétic 2018. All rights reserved
        </p>
    </footer>
</body>
</html>