<!DOCTYPE html>
<html lang="fr" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <link rel="stylesheet" href="">
</head>
<body ng-controller="UserController">
        <ng-view></ng-view>
        
        <!-- Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
        
        <!-- Template -->
        <script type="text/ng-template" id="/users.html">
          Search: <input type="text" ng-model="search.nom">
          <ul>
            <li ng-repeat="user in users | filter: search">
              <a href="{{$index}}">{{user.nom}}</a>
            </li>
          </ul>
        </script>

    <a href="./api/mon-compte">Mon compte</a>
    <a href="./api/voir-profil/anto">Compte Anto</a> <!-- À voir si on fait pas l'url avec l'id de l'user -->

    <table>
        <thead>
             <tr>
               <th>nom</th>
               <th>prenom</th>
               <th>image de profil</th>
               <th>Voir profil</th>
             </tr>
        </thead>
        <tbody>
                <% for (let item of data){ %>
                    <tr>
                        <td><%= item.nom %></td>
                        <td><%= item.prenom %></td>
                        <td><img src="#" alt="Image de profile" /></td>
                        <td><a href="./voir-profil/<%= item.nom %>">Voir profil</a></td>
                    </tr>
                <% } %>
        </tbody>
    </table>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="js/parseTable.js"></script>
<script src="js/script.js"></script>
</html>