<<<<<<< HEAD
    <!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
        <title>Hétic Connect</title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <header class="nav">
            <ul>
                <li><a href="home"><img alt="logo" src="../img/logo.png"></a></li>
                <li><a href="faq"><img alt="F.A.Q" src="../img/icone-faq.svg">F.A.Q</a></li>
                <li><a href="#"><img alt="mon compte" src="../img/icone-compte.svg">Mon compte</a></li>
            </ul>
        </header>
        <main>
            <div id="top">
                <h1>Hétic Connect</h1>
                <p>Trouvez des étudiants pour réaliser vos projets ensemble !</p>
                <article class="rechercher">
                    <input type="text" id="rechercher" placeholder="exemple : Adrien Martin">
                    <a href="#" class="loupe"><img alt="recherche" src="../img/icone-search.png"></a>
                </article> 
            </div>
            <section id="container">
            <section class="contenu">
                <img alt="adrien" src="../img/adrien.jpg"><img class="echarpe" alt="écharpe hétic" src="../img/echarpe.png">
                <div class="rectangle">
                    <article>
                            <p>Adrien MARTIN<br/>Profil designer</p>
                        <p>Salut, je serai heureux de vous aider dans vos projets !</p>
                    </article>
                    <article>
                        <p><span>UX design</span><span>Javascript</span><span>Symfony</span></p>
                        <p><span>UI design</span><span>Community Management</span></p>
                    </article>
                </div>
            </section>
            <section class="contenu">
                <img alt="elisa" src="../img/elisa.jpg"><img class="echarpe" alt="écharpe hétic" src="../img/echarpe.png">
                <div class="rectangle">
                    <article>
                        <p>Elisa QUELVEN<br/>Profil designer</p>
                        <p>Salut, je serai heureux de vous aider dans vos projets !</p>
                    </article>
                    <article>
                        <p><span>UX design</span><span>Javascript</span><span>Symfony</span></p>
                        <p><span>UI design</span><span>Community Management</span></p>
                    </article>
                </div>
            </section>
            <section class="contenu">
                <img alt="valerie" src="../img/valerie.jpg"><img class="echarpe" alt="écharpe hétic" src="../img/echarpe.png">
                <div class="rectangle">
                    <article>
                        <p>Valérie ALINE<br/>Profil designer</p>
                        <p>Salut, je serai heureux de vous aider dans vos projets !</p>
                    </article>
                    <article>
                        <p><span>UX design</span><span>Javascript</span><span>Symfony</span></p>
                        <p><span>UI design</span><span>Community Management</span></p>
                    </article>
                </div>
            </section>
            <section class="contenu">
                <img alt="axelle" src="../img/axelle.jpg"><img class="echarpe" alt="écharpe hétic" src="../img/echarpe.png">
                <div class="rectangle">
                    <article>
                        <p>Axelle MOLLIER<br/>Profil designer</p>
                        <p>Salut, je serai heureux de vous aider dans vos projets !</p>
                    </article>
                    <article>
                        <p><span>UX design</span><span>Javascript</span><span>Symfony</span></p>
                        <p><span>UI design</span><span>Community Management</span></p>
                    </article>
                </div>
            </section>
        </section>
        </main>
        <footer>
            <p>
                <a href="#top">En haut</a>
            </p>
            <p>
                © Hétic 2018. All rights reserved
            </p>
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
=======
<% include ./partials/head.ejs %>
<body >
    <form>
        <input id="recherche" type="text" name="lname"><br>
    </form>
    
    <section id="container"></section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
>>>>>>> 0d3a29a883177275b2781bc3ad623ef71ff04ad0
    <script src="js/script.js"></script>
    </body>
    
    </html>