<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
    <h1>Mon compte</h1>
    
    <input name="Prénom" type="text" placeholder="%Prénom" />
    <input name="Nom" type="text" placeholder="%Nom" />

    <img src="#" alt="Image de profile" />
    <input type="file" placeholder="Vote image de profile" />

    <input name="age" type="text" placeholder="%Age" />
    <input name="mail" type="e-mail" placeholder="%Mail" />

     
</body>
</html>