<% include ./partials/head.ejs %>
<body>
    <h1>Mon compte</h1>
    
    <input name="Prénom" type="text" placeholder="Votre prénom" value="<%= prenom %>" />
    <input name="Nom" type="text" placeholder="Votre nom" value="<%= nom %>" />
    <img src="#" alt="Image de profile" />
    <input name="age" type="text" placeholder="Votre âge" value="%Age" />
    <input name="mail" type="email" placeholder="Votre e-mail" value="<%= mail %>" />

    <a href="./questionnaire">Complétez votre</a>
    <a href="./logout">Se déconnecter</a>

</body>
</html>