<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
    <title>Hétic Connect</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header class="nav">
        <ul>
            <li><a href="home.html"><img alt="logo" src="../img/logo.png"></a></li>
            <li><a href="faq.html"><img alt="F.A.Q" src="../img/icone-faq.svg">F.A.Q</a></li>
            <li><a href="#"><img alt="mon compte" src="../img/icone-compte.svg">Mon compte</a></li>
        </ul>
    </header>
    <main id="profil">
        <div class="roundedImage">
            <img src="../img/elisa.jpg" alt="1" />
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>