<% include ./partials/head.ejs %>
<body id="questionnaire">
    <header class="fixed">
        <nav>
        <img src="../img/logo.png">
            </nav>
    </header>
    <main>
        <form id="uploadForm" enctype="multipart/form-data" method="POST" action="./send-questionnaire">   
            <section class="question">
                <h1>1/10 - Quel âge avez-vous ?</h1>
                <hr>
                <input type="number" name="age" placeholder="Votre âge" />
            </section>
            <section class="question">
                <h1>2/10 - Dans quelle formation êtes-vous?</h1>
                <hr>
                <select name="filiere">
                    <option value="MBA">MBA</option> 
                    <option value="Webmarketing" selected>Mastère UX & Marketing</option>
                    <option value="Data">Mastère Big Data</option>
                    <option value="Pmd">PMD</option>
                </select>
            </section>
            <section class="question">
                <h1>3/10 - Quel est votre parcours professionnel ?</h1>
                <hr>
                <article>
                    <p>Du plus récent au plus ancien</p>
                    <textarea name="parcours" placeholder="1 - Raconter nous une expériencejdksnfkdn"></textarea>
                    <textarea name="parcours" placeholder="2 - Raconter nous une expérience..."></textarea>
                    <textarea name="parcours" placeholder="3 - Raconter nous une expérience..."></textarea>
                    <textarea name="parcours" placeholder="4 - Raconter nous une expérience..."></textarea>
                </article>
            </section>
            <section class="question">
                <h1>4/10 - Comment peut-on vous contacter ?</h1>
                <hr>
                <article>
                    <p>Linkedin<input type="text" name="linkedin" placeholder="www.linkedin.com"></p>
                    <p>Facebook<input type="text" name="facebook" placeholder="www.facebook.fr"></p>
                    <p>Téléphone<input type="text" name="telephone"></p>
                </article>
            </section>
            <section class="question">
                <h1>5/10 - Avez-vous un portfolio ou des réalisations à mettre en avant ?</h1>
                <hr>
                <article>
                    <p>Dribbble<input type="text" name="dribbble" ></p>
                    <p>Behance<input type="text" name="behance" ></p>
                    <p>Instagram<input type="text" name="instagram"></p>
                    <p>Site portfolio<input type="text" name="site"></p>
                </article>
            </section>
            <section class="question">
                <h1>6/10 - Décrivez-vous rapidement (faites une phrase d'accroche)</h1>
                <hr>
                <textarea name="desription" placeholder="Faites ressortir votre profil"></textarea>
            </section>
            <section class="question">
                <h1>7/10 - Racontez-nous en un peu plus sur vous...</h1>
                <hr>
                <textarea name="biographie" placeholder="Centres d'intérêt, musique, sport, dites-nous en plus sur vous..."></textarea>
            </section>
            <section class="question">
                <h1>8/10 - Quelles sont vos disponibilités ? Avez-vous des empêchements quotidiens ?</h1>
                <hr>
                <textarea name="disponibilites" placeholder="Mes disponibilités sont..."></textarea>
            </section>
            <section class="question">
                <h1>9/10 - Mettez en avant vos compétences</h1>
                <hr>
                <article>
                <h4>Compétences dev</h4>
                    <input id="node" type="checkbox" name="dev" value="node">
                    <label for="node">Node</label>
                    <input id="Js" type="checkbox" name="dev" value="Js">
                    <label for="Js">Js</label>
                    <input id="MEAN" type="checkbox" name="dev" value="MEAN">
                    <label for="MEAN">MEAN</label>
                    <input id="PHP" type="checkbox" name="dev" value="PHP">
                    <label for="PHP">PHP</label>
                    <input id="Symfony" type="checkbox" name="dev" value="Symfony">
                    <label for="Symfony">Symfony</label>
                    <input id="HTML/CSS" type="checkbox" name="dev" value="HTML/CSS">
                    <label for="HTML/CSS">HTML/CSS</label>
                <h4>Compétences design</h4>
                    <input id="UX" type="checkbox" name="design" value="UX">
                    <label for="UX">UX</label>
                    <input id="UI" type="checkbox" name="design" value="UI">
                    <label for="UI">UI</label>
                    <input id="Webdesign" type="checkbox" name="design" value="Webdesign">
                    <label for="Webdesign">Webdesign</label>
                    <input id="Motion design / vidéo" type="checkbox" name="design" value="Motion design / vidéo">
                    <label for="Motion design / vidéo">Motion design / vidéo</label>
                <h4>Compétences Comm &amp; Marketing</h4>
                    <input id="Marketing" type="checkbox" name="com" value="Marketing">
                    <label for="Marketing">Marketing</label>
                    <input id="Community management" type="checkbox" name="com" value="Community management">
                    <label for="Community management">Community management</label>
                    <input id="Gestion de projet" type="checkbox" name="com" value="Gestion de projet">
                    <label for="Gestion de projet">Gestion de projet</label>
                    <input id="Redaction" type="checkbox" name="com" value="Redaction">
                    <label for="Redaction">Redaction</label>
                    <input id="SEA" type="checkbox" name="com" value="SEA">
                    <label for="SEA">SEA</label>
            </section>
            <section class="question">
<<<<<<< HEAD
                <h3>Donnez-nous une petite photo de vous</h3>
                <p>VOus ne pouvez mettre qu'un png,jpeg, jpg ou gif! </p>
		            <input type="file" accept="image/*" name="userFile" />
=======
                <h1>10/10 - Donnez-nous une petite photo de vous</h1>
                <hr>
                <img src="../img/icone-img.svg" alt="Photo de profil" />
                <label>Choisir une photo</label>
                <input type="file" value="Insérez une image de vous" />
>>>>>>> ba71411ed9600626571d36cdfe17200189a46a06
            </section>
            <section class="question">
                <p>C'est fini, vous pouvez personnaliser encore plus votre profil en répondant à ce quizz facultatif</p>
                <input type="submit" disabled  value="ajoutProfil">Créer mon profil</input>
            </section>
            <a class="nextScreen" id="fadeIn" href="#">Suivant</a>
            <a class="lastScreen" href="#">Précedent</a>
            
        </form>
    </main>
    <script src="./js/scriptQuestionnaire.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        /*
        $('#fadeIn').on('click', function() {
            for ($i=0, $i<10, $i++)
            {
                $('section:nth-of-type($i)').fadeIn(1000);
            }

    });*/
    </script>
</body>

</html>