<% include ./partials/head.ejs %>
<body id="questionnaire">
    <header>
        <h2>Les questions sont faculatives, votre profils sera juste moinss remplie</h2>
    </header>
    <main>
        <form method="POST" action="./send-questionnaire">   
            <section class="question">
                <h3>Quel est votre age</h3>
                <input type="number" name="age" placeholder="Votre âge" />
            </section>
            <section class="question">
                <h3>De quel formation êtes-vous?</h3>
                <select name="filiere">
                    <option value="MBA">MBA</option> 
                    <option value="Webmarketing" selected>Mastère Webmarketing  UX</option>
                    <option value="Data">Mastère Data</option>
                    <option value="Pmd">PMD</option>
                </select>
            </section>
            <section class="question">
                <h3>Quel est votre parcours avant d'arriver à hetic?</h3>
                <textarea name="parcours" placeholder="Raconter nous une expérience..."></textarea>
                <textarea name="parcours" placeholder="Raconter nous une expérience..."></textarea>
                <textarea name="parcours" placeholder="Raconter nous une expérience..."></textarea>
                <textarea name="parcours" placeholder="Raconter nous une expérience..."></textarea>
            </section>
            <section class="question">
                <h3>Comment peut-on vous contacter</h3>
                    Linkedin<input type="text" name="linkedin" placeholder="www.linkedin.fr">
                    Facebook<input type="text" name="facebook" placeholder="www.facebook.fr">
                    Telephone<input type="text" name="telephone" placeholder="www.telephone.fr">
            </section>
            <section class="question">
                <h3>Avez-vous un portfolio ou des réalisation à mettre en avant ?</h3>
                    Dribbble<input type="text" name="dribbble" placeholder="dribbble">
                    Behance<input type="text" name="behance" placeholder="behance">
                    Instagram<input type="text" name="instagram" placeholder="instagram">
                    Site portfolio<input type="text" name="site" placeholder="site">
            </section>
            <section class="question">
                <h3>Décrivez-vous rapidement (faites une phrase d'accroche)</h3>
                <textarea name="desription">Faites ressortir votre profil</textarea>
            </section>
            <section class="question">
                <h3>Raconter nous en un peu plus sur vous...</h3>
                <textarea name="biographie">Faites une petites bio</textarea>
            </section>
            <section class="question">
                <h3>Quelles sont vos disponibilités? Avez-vous des empechements quotidiens?</h3>
                <input type="disponibilites" name="disponibilites" placeholder="disponibilite">
            </section>
            <section class="question">
                <h3>Mettez en avant vos compétences</h3>
                <h4>Compétences dev</h4>
                <input id="node" type="checkbox" name="competences" value="node">
                <label for="node">Node</label>
                <input id="Js" type="checkbox" name="competences" value="Js">
                <label for="Js">Js</label>
                <input id="MEAN" type="checkbox" name="competences" value="MEAN">
                <label for="MEAN">MEAN</label>
                <input id="PHP" type="checkbox" name="competences" value="PHP">
                <label for="PHP">PHP</label>
                <input id="Symfony" type="checkbox" name="competences" value="Symfony">
                <label for="Symfony">Symfony</label>
                <input id="HTML/CSS" type="checkbox" name="competences" value="HTML/CSS">
                <label for="HTML/CSS">HTML/CSS</label>
                <h4>Compétences design</h4>
                <input id="UX" type="checkbox" name="competences" value="UX">
                <label for="UX">UX</label>
                <input id="UI" type="checkbox" name="competences" value="UI">
                <label for="UI">UI</label>
                <input id="Webdesign" type="checkbox" name="competences" value="Webdesign">
                <label for="Webdesign">Webdesign</label>
                <input id="Motion design / vidéo" type="checkbox" name="competences" value="Motion design / vidéo">
                <label for="Motion design / vidéo">Motion design / vidéo</label>
                <h4>Compétences Comm & Marketing</h4>
                <input id="Marketing" type="checkbox" name="competences" value="Marketing">
                <label for="Marketing">Marketing</label>
                <input id="Community management" type="checkbox" name="competences" value="Community management">
                <label for="Community management">Community management</label>
                <input id="Gestion de projet" type="checkbox" name="competences" value="Gestion de projet">
                <label for="Gestion de projet">Gestion de projet</label>
                <input id="Redaction" type="checkbox" name="competences" value="Redaction">
                <label for="Redaction">Redaction</label>
                <input id="SEA" type="checkbox" name="competences" value="SEA">
                <label for="SEA">SEA</label>
            </section>
            <section class="question">
                <h3>Donnez-nous une petite photo de vous</h3>
                <img src="#" alt="Photo de progfil" />
                <input type="file" value="Insérez une image de vous" />
            </section>
            <section class="question">
                <p>C'est finis, vous pouvez personaliser encore plus votre profil en répondant à cce quizz faculatatif</p>
                <input type="submit" value="ajoutProfil">Créer mon profil</input>
            </section>
            <a class="lastScreen" href="#">Précedent</a>
            <a class="nextScreen" href="#">Suivant</a>
        </form>
    </main>
    <script src="./js/scriptQuestionnaire.js"></script>
</body>

</html>