<!DOCTYPE html>
<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

</head>
<body >
    <h2>Les questions sont faculatives, votre profils sera juste monis remplie</h2>
    <section>
        <h3>Quel est votre age</h3>
        <input type="text" name="age" value="age">
    </section>
    <section>
        <h3>De quel formation êtes-vous?</h3>
        <select id="listformation">
            <option value="MBA">MBA</option> 
            <option value="Webmarketing" selected>Mastère Webmarketing  UX</option>
            <option value="Data">Mastère Data</option>
            <option value="Pmd">PMD</option>
        </select>
    </section>
    <section>
        <h3>Quel est votre parcours avant d'arriver à hetic?</h3>
            <textarea name="textarea">Raconter nous nue expérience...</textarea>
            <textarea name="textarea">Raconter nous nue expérience...</textarea>
            <textarea name="textarea">Raconter nous nue expérience...</textarea>
            <textarea name="textarea">Raconter nous nue expérience...</textarea>
    </section>
    <section>
        <h3>Comment peut-on vous conatcter</h3>
            Linkedin<input type="text" name="linkedin" value="">
            Facebook<input type="text" name="facebok" value="">
            Telephone<input type="text" name="telephone" value="">
            Mail<input type="email" name="mail" value="a">
    </section>
    <section>
        <h3>Avez-vous un portfolio ou des réalisation à mettre en avant ?</h3>
            Dribbble<input type="text" name="linkedin" value="">
            Behance<input type="text" name="facebok" value="">
            Instagram<input type="text" name="telephone" value="">
            Site portfolio<input type="email" name="mail" value="a">
    </section>
    <section>
        <h3>Décrivez-vous rapidement (faites une phrase d'accroche)</h3>
            <textarea name="textarea">Faites ressortir votre profil</textarea>
    </section>
    <section>
        <h3>Raconter nous en un peu plus sur vous...</h3>
        <textarea name="textarea">Faites une petites bio</textarea>
    </section>
    <section>
        <h3>Quelles sont vos disponibilités? Avez-vous des empechements quotidiens?</h3>
                <input type="disponibilité" name="mail" value="a">
    </section>



</body>

</html>