<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="fixed">
        <nav>
        <img src="../img/logo.png">
            </nav>
    </header>
      <main id="facultatif">
    <form action="./send-quizz" method="POST">
            <h1><%= quest %></h1>
            <hr>
            <p>Répondez à notre quiz pour avoir des étiquettes qui complèteront votre profil.</p>
            
            <section>
                <% for (rep of reps) { %>
                    <button name="etiquette" value="<%= rep.etiquette %>"><%= rep.contenu %></button>
                <% } %>

                <input style="display:none" type="text" name="id_Quest" value="<%= id_Quest %>" />
                
            </section>
    </form>
</main>
</body>
</html>