<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
    <title>Hétic Connect</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header class="fixed">
        <nav>
            <a><img alt="logo" src="../img/logo.png"></a>
        </nav>
    </header>

    <main id="inscription">
        <div class="image-background"></div>
        <section>
            <h1>Inscription</h1>
            <form method="post" action="">
                <img><input class="icon-name" type="mail" name="mail" id="mail" placeholder="Prénom NOM" required="required"/>
                <img><input class="icon-mail" type="mail" name="mail" id="mail" placeholder="E-mail" required="required"/>
                <img><input class="icon-mdp" type="password" name="mdp" id="mdp" placeholder="Mot de passe" required="required"/>
                <button type="submit">Connect</button>
                <a href="/api/signin">Connectez-vous</a>
            </form>
        </section>

    </main>


    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>