<% include ./partials/head.ejs %>

<body>
    <header class="fixed">
        <nav>
            <a><img alt="logo" src="../img/logo.png"></a>
        </nav>
    </header>

    <main id="inscription">
        <div class="image-background"></div>
        <section>
            <h1>Inscription</h1>
            <form action="/signup" method="POST">
                <img><input class="icon-name" type="text" name="nom" id="name" placeholder="Votre Nom" required="required"/>
                <img><input class="icon-name" type="text" name="prenom" id="name2" placeholder="Votre Prénom" required="required">
                <img><input class="icon-mail" type="mail" name="mail" id="mail" placeholder="E-mail" required="required"/>
                <img><input class="icon-mdp" type="password" name="password" id="mdp" placeholder="Mot de passe" required="required"/>
                <img><input class="icon-mdp" type="password" name="passwordVerif" id="mdp2" placeholder="Confirmez votre mot de passe" required="required"/>
                <button type="submit">Inscription</button>
                <a href="/signin">Connectez-vous</a>
            </form>
        </section>

    </main>


    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>