<% include ./partials/head.ejs %>
<body>
    <header>
        <nav>
            <a><img alt="logo" src="../img/logo.png"></a>
        </nav>
    </header>

    <main id="connexion">
        <div class="image-background"></div>
        <section>
            <h1>Connexion</h1>
            <form method="post" action="">
                <img><input class="icon-mail" type="mail" name="mail" id="mail" placeholder="E-mail" required="required"/>
                <img><input class="icon-mdp" type="password" name="mdp" id="mdp" placeholder="Mot de passe" required="required"/>
                <button type="submit">Connect</button>
                <a href="/signup">Créer un compte</a>
            </form>
        </section>

    </main>


    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>
