<% include ./partials/head.ejs %>

<body>
    <header>
        <nav>
            <a href=""><img alt="logo" src="../img/logo.png"></a>
        </nav>
    </header>

    <main id="quizz">
        <section>
            <img src="../img/icone-realisations.svg" alt="démarrez le quizz">
            <h1>Faîtes vivre vos projets !</h1>
            <a href="/quizz">C'est parti</a>
        </section>

    </main>


    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>
