<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="description" content="Plateforme collaborative qui met en relation les étudiants d'Hétic pour proposer ou demander de l'aide pour réaliser des projets digitaux.">
    <title>Hétic Connect</title>
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header class="fixed">
        <nav>
            <a href=""><img alt="logo" src="../img/logo.png"></a>
        </nav>
    </header>

    <main id="quizz">
        <section>
            <img src="../img/icone-realisations.svg" alt="démarrez le quizz">
            <h1>Faîtes vivre vos projets !</h1>
            <a href="/quizz">C'est parti</a>
        </section>

    </main>


    <!-- Footer -->
    <footer>

    </footer>
</body>

</html>
