<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
</head>
<body>
    <h1><%= data %></h1>
    <% if (error) { %>
        <a href="../">Retour</a>
        <div class="error">
            <p><%= error %></p>
        </div>
    <% } else { %>
        <img src="#" alt="image de profile" />
        <!-- Si admin : smaller "admin" en gris -->

        <p><%= data %></p>
        <p>%filière</p>
        <p>%Description</p>
        <ul>
            <li>%Compétence 1</li>
            <li>%Compétence 2</li>
            <li>%Compétence 3</li>
        </ul>
        <ul>
            <li>%Tag 1</li>
            <li>%Tag 2</li>
            <li>%Tag 3</li>
        </ul>
        <p>%Parcours</p>
    <% } %>

</body>
</html>